{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": 0,
    "comma-dangle": [1, "always-multiline"],
    "no-console": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 0
  }
}
